@import "tailwindcss";



:root {
  --background-1: #ffffff;
  --background-2: #f8f8f8;
  --section-heading: #934100;
}

@theme inline {
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-btn-bg: var(--btn-bg);
  --font-poppins: var(--font-poppins);
   --color-sec-heading: var(--section-heading);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.npf_wgts iframe {
  height: 428px !important;
}